.imageResize {
    width:50px;
}
.btn-radio {
    margin: 0 18px;
}

@media (min-width: 768px) {
    body {
        text-align: center;
        background-color: yellow;
    }
    h3 {
        font-size: 1.5em;
    }
    p {
        font-size: 3em;
        margin: 0;
    }
    
    .imageResize {
        width: 80px;
    }
    .btn-radio {
        margin: 0 35px;

    }

}